*{
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    overflow-x: none;
}

html{
    font-size: 62.5%;
    font-size: 1em;
}

main{
    background-color: aquamarine;
}

body{
    background-image: url("../img/fondo.jpg");
}