*{
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    overflow-x: none;
}

html{
    font-size: 62.5%;
    font-size: 1em;
}


main{
    background-color: aquamarine;
}


body{
    background-image: url("../img/fondo.jpg");
}


h1{
    font-family: Arial, Helvetica, sans-serif;
padding: 1% 0% 1% 30%;
margin: 0% 0% 1% 0%;
border-style: solid;
}


h2{
    color: rgb(187, 65, 187);
    font-weight: bolder;
    font-size: 32px;
    padding: 1% 0% 0% 1%;
}


.subtitulos{
    font-size: 64px;
    padding: 1% 0% 1% 3%;
    border: 5px solid black;
}


p{
    color: black;
    padding: 1% 0% 1% 2%;
    border: 5px  ;
    font-family: Arial, Helvetica, sans-serif;
}


footer{
    background-color: burlywood;
    padding: 1% 1% 5% 1%;

}


@media (min-width:300px){

    figcaption{
        display: flex;
        font-size: 24px;
        padding: 0% 0% 4% 17%;
        color: red;
        text-decoration: underline;
    }
    h3{
        padding: 0% 0% 0% 17%;
    }

}



@media (min-width:768px){


    h1{
        font-family: Arial, Helvetica, sans-serif;
    padding: 1% 0% 1% 40%;
    margin: 0% 0% 1% 0%;
    border-style: solid;
    }

 .expas{
    width:27vw;
    margin: 1% 0% 0.5% 37%;
    border: 5px crimson inset ;
    
}
 


.torneo{
    width: 85vw;
    margin-left: 7.5%;
}




form{
    margin: 1%;
}


h3{
    padding: 0% 0% 0% 30%;
}

.pieNoticia{
    padding: 0% 0% 1% 45%;
}

.externo{
    padding: 0% 0% 1% 2%;
}

.leerReglas{
    padding: 0% 0% 2% 2% ;
}



.tojunto{
    display: grid;
    grid-template-columns:2fr 1fr;
}

.separado{
    display: grid;
    grid-template-columns: 50% 50%;
}

.logo{
    margin: 0%;
    padding: 0%;
}

figcaption{
    display: flex;
    font-size: 25px;
    padding: 1% 0% 1% 39%;
}

}

@media (min-width:992px){

    figcaption{
        padding: 45% 0% 0% 25%;
    }

    .expas{
        width: 25vw;
    }

    .expas{
        margin: 1% 0% 0.5% 19%;
        border: 5px crimson inset ;
        transition-property: all ;
        transition-duration: 2s;
    }
    
    .expas:hover{
        transform: scale(2);
         
        border: 0;
    }
}